{% extends 'layouts/layout.html.twig' %}

{% block title %}Welcome to travel agency!{% endblock %}

{% block stylesheets %}
    <!-- CSS -->
    <link href="{{ asset('css/font-icons.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" media="screen">
    <link href="{{ asset('css/animate.html') }}" rel="stylesheet">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('css/plugin.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/your-style.css') }}" rel="stylesheet">
    <!-- /CSS -->
{% endblock %}

{% block content %}




    <!-- start Hero Banner -->
    <div class="hero-banner hero-flex" data-dark-overlay="4" style="background-image:url('images/image-bg/02.jpg');">

        <div class="hero-inner hero-flex set-height-01">

            <div class="container hero-middle">

                <div class="row gap-40 gap-lg-60 align-items-center">

                    <div class="col-12 col-lg-6 col-xl-7">

                        <div class="hero-text">

                            <h2>Book flight, get free sleep</h2>
                            <p class="lead">Three nights two days hotel + flight + taxes</p>
                            <p class="hero-price">
                                all starting from
                                <span>USD $986</span>
                            </p>
                            <a href="#" class="btn btn-secondary btn-wide">Book now</a>
                            <p class="font-sm mt-25 line-125 spacing-1">* Booking period June 15 to June, 23 2019<br/>*
                                Traveling period Nov 15 to Nov 23, 2019</p>

                        </div>

                    </div>

                    <div class="col-12 col-md-9 col-lg-6 col-xl-5">

                        <div class="menu-horizontal-wrapper-02">

                            <nav class="menu-horizontal-02">
                                <ul class="nav">
                                    <li>
                                        <a class="active" data-toggle="tab" href="#formSearchMain-01">Hotel</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#formSearchMain-02">Flight</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#formSearchMain-03">Car</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#formSearchMain-04">Tour</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#formSearchMain-05">Guide</a>
                                    </li>
                                </ul>
                            </nav>

                            <div class="tab-content">

                                <div role="tabpanel" class="tab-pane active" id="formSearchMain-01">

                                    <div class="tab-inner menu-horizontal-content">

                                        <div class="form-search-main-01">

                                            <form>

                                                <div class="form-inner">

                                                    <div class="row gap-10 mb-15 align-items-end">

                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label>Destination</label>
                                                                <div class="form-icon-left typeahead__container">
                                                                    <span class="icon-font text-muted"><i
                                                                                class="bx bx-map"></i></span>
                                                                    <input class="js-typeahead-country_v1 form-control"
                                                                           name="country_v1[query]" type="search"
                                                                           placeholder="Country or city"
                                                                           autocomplete="off">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="col-inner">
                                                                <div id="airDatepickerRange-hotel"
                                                                     class="row gap-10 mb-15">

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label>Check-in</label>
                                                                            <div class="form-icon-left">
                                                                                <span class="icon-font text-muted"><i
                                                                                            class="bx bx-calendar"></i></span>
                                                                                <input type="text" id="dateStart-hotel"
                                                                                       class="form-control form-readonly-control"
                                                                                       placeholder="dd/mm/yyyy">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label>Check-out</label>
                                                                            <div class="form-icon-left">
                                                                                <span class="icon-font text-muted"><i
                                                                                            class="bx bx-calendar"></i></span>
                                                                                <input type="text" id="dateEnd-hotel"
                                                                                       class="form-control form-readonly-control"
                                                                                       placeholder="dd/mm/yyyy">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 ">

                                                            <div class="col-inner">

                                                                <div class="row gap-10 mb-15">

                                                                    <div class="col-4 col-sm-6 col-md-4">
                                                                        <div class="form-group form-spin-group">
                                                                            <label for="room-amount">Rooms</label>
                                                                            <div class="form-icon-left">
                                                                                <span class="icon-font text-muted"><i
                                                                                            class="bx bx-home-alt"></i></span>
                                                                                <input type="text"
                                                                                       class="form-control touch-spin-03 form-readonly-control"
                                                                                       placeholder="0" readonly/>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-8 col-sm-6 col-md-8">
                                                                        <div class="col-inner">
                                                                            <div class="form-people-thread">
                                                                                <div class="row gap-5 align-items-center">
                                                                                    <div class="col">
                                                                                        <div class="form-group form-spin-group">
                                                                                            <label for="room-amount">Adults
                                                                                                <small class=" text-muted font10 line-1">(12-75)</small></label>
                                                                                            <div class="form-icon-left">
                                                                                                <span class="icon-font text-muted"><i
                                                                                                            class="bx bx-user"></i></span>
                                                                                                <input type="text"
                                                                                                       class="form-control touch-spin-03 form-readonly-control"
                                                                                                       placeholder="0"
                                                                                                       readonly/>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col">
                                                                                        <div class="form-group form-spin-group">
                                                                                            <label for="room-amount">Children
                                                                                                <small class="text-muted font10 line-1">(2-12)</small></label>
                                                                                            <div class="form-icon-left">
                                                                                                <span class="icon-font text-muted"><i
                                                                                                            class="bx bx-user"></i></span>
                                                                                                <input type="text"
                                                                                                       class="form-control touch-spin-03 form-readonly-control"
                                                                                                       placeholder="0"
                                                                                                       readonly/>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <a href="#" class="btn btn-primary btn-block">Search now</a>
                                                        </div>

                                                    </div>

                                                </div>

                                            </form>

                                        </div>

                                    </div>

                                </div>

                                <div role="tabpanel" class="tab-pane fade in" id="formSearchMain-02">

                                    <div class="tab-inner menu-horizontal-content">

                                        <div class="form-search-main-01">

                                            <form>

                                                <div class="form-inner">

                                                    <div class="mb-10">

                                                        <div class="custom-control custom-radio  custom-control-inline">
                                                            <input type="radio" id="flightSearchRadio-1"
                                                                   name="flightSearchRadio" class="custom-control-input"
                                                                   checked>
                                                            <label class="custom-control-label"
                                                                   for="flightSearchRadio-1">Return</label>
                                                        </div>

                                                        <div class="custom-control custom-radio  custom-control-inline">
                                                            <input type="radio" id="flightSearchRadio-2"
                                                                   name="flightSearchRadio"
                                                                   class="custom-control-input">
                                                            <label class="custom-control-label"
                                                                   for="flightSearchRadio-2">One-way</label>
                                                        </div>

                                                        <div class="custom-control custom-radio  custom-control-inline">
                                                            <input type="radio" id="flightSearchRadio-3"
                                                                   name="flightSearchRadio"
                                                                   class="custom-control-input">
                                                            <label class="custom-control-label"
                                                                   for="flightSearchRadio-3">Multicities</label>
                                                        </div>

                                                    </div>

                                                    <div class="row gap-10 mb-15">

                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label>From</label>
                                                                <div class="form-icon-left typeahead__container">
                                                                    <span class="icon-font text-muted"><i
                                                                                class="bx bx-map"></i></span>
                                                                    <input class="js-typeahead-country_v1 form-control"
                                                                           name="country_v1[query]" type="search"
                                                                           placeholder="Country or city"
                                                                           autocomplete="off">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label>To</label>
                                                                <div class="form-icon-left typeahead__container">
                                                                    <span class="icon-font text-muted"><i
                                                                                class="bx bx-map"></i></span>
                                                                    <input class="js-typeahead-country_v1 form-control"
                                                                           name="country_v1[query]" type="search"
                                                                           placeholder="Country or city"
                                                                           autocomplete="off">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="col-inner">
                                                                <div id="airDatepickerRange-flight"
                                                                     class="row gap-10 mb-15">

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label>Check-in</label>
                                                                            <div class="form-icon-left">
                                                                                <span class="icon-font text-muted"><i
                                                                                            class="bx bx-calendar"></i></span>
                                                                                <input type="text" id="dateStart-flight"
                                                                                       class="form-control form-readonly-control"
                                                                                       placeholder="dd/mm/yyyy">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label>Check-out</label>
                                                                            <div class="form-icon-left">
                                                                                <span class="icon-font text-muted"><i
                                                                                            class="bx bx-calendar"></i></span>
                                                                                <input type="text" id="dateEnd-flight"
                                                                                       class="form-control form-readonly-control"
                                                                                       placeholder="dd/mm/yyyy">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="col-inner">
                                                                <div class="row gap-5">
                                                                    <div class="col-4">
                                                                        <div class="form-group form-spin-group">
                                                                            <label for="room-amount">Adult <small
                                                                                        class="text-muted font10 line-1">(12-75)</small></label>
                                                                            <div class="form-icon-left">
                                                                                <span class="icon-font text-muted"><i
                                                                                            class="bx bx-user"></i></span>
                                                                                <input type="text"
                                                                                       class="form-control touch-spin-03 form-readonly-control"
                                                                                       placeholder="0" readonly/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <div class="form-group form-spin-group">
                                                                            <label for="room-amount">Child <small
                                                                                        class="text-muted font10 line-1">(2-12)</small></label>
                                                                            <div class="form-icon-left">
                                                                                <span class="icon-font text-muted"><i
                                                                                            class="bx bx-user"></i></span>
                                                                                <input type="text"
                                                                                       class="form-control touch-spin-03 form-readonly-control"
                                                                                       placeholder="0" readonly/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <div class="form-group form-spin-group">
                                                                            <label for="room-amount">Infant <small
                                                                                        class="text-muted font10 line-1">(0-2)</small></label>
                                                                            <div class="form-icon-left">
                                                                                <span class="icon-font text-muted"><i
                                                                                            class="bx bx-user"></i></span>
                                                                                <input type="text"
                                                                                       class="form-control touch-spin-03 form-readonly-control"
                                                                                       placeholder="0" readonly/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="d-flex flex-row align-items-center mt-20">
                                                        <div class="mr-auto">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                       id="flightSearchCheck-1"/>
                                                                <label class="custom-control-label"
                                                                       for="flightSearchCheck-1">(-/+ 3 days)</label>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a href="#" class="btn btn-primary btn-wide">Search now</a>
                                                        </div>
                                                    </div>

                                                </div>

                                            </form>

                                        </div>

                                    </div>

                                </div>

                                <div role="tabpanel" class="tab-pane fade in" id="formSearchMain-03">

                                    <div class="tab-inner menu-horizontal-content">

                                        <div class="form-search-main-01">

                                            <form>

                                                <div class="form-inner">

                                                    <div class="row gap-10 mb-15 align-items-center">

                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label>Pick-up Location</label>
                                                                <div class="form-icon-left typeahead__container">
                                                                    <span class="icon-font text-muted"><i
                                                                                class="bx bx-map"></i></span>
                                                                    <input class="js-typeahead-country_v1 form-control"
                                                                           name="country_v1[query]" type="search"
                                                                           placeholder="Country or city"
                                                                           autocomplete="off">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label>Drop-off Location</label>
                                                                <div class="form-icon-left typeahead__container">
                                                                    <span class="icon-font text-muted"><i
                                                                                class="bx bx-map"></i></span>
                                                                    <input class="js-typeahead-country_v1 form-control"
                                                                           name="country_v1[query]" type="search"
                                                                           placeholder="Country or city"
                                                                           autocomplete="off">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12">

                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                       id="carCheck11">
                                                                <label class="custom-control-label" for="carCheck11">Return
                                                                    car to the same location</label>
                                                            </div>

                                                        </div>

                                                        <div class="col-6">

                                                            <div class="form-group">
                                                                <label>Pick-up Date</label>
                                                                <div class="form-icon-left">
                                                                    <span class="icon-font text-muted"><i
                                                                                class="bx bx-calendar"></i></span>
                                                                    <input type="text"
                                                                           class="form-control form-readonly-control air-datepicker"
                                                                           placeholder="pick a date and time"
                                                                           data-language="en" data-timepicker="true"
                                                                           readonly>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-6">

                                                            <div class="form-group">
                                                                <label>Drop-off Date</label>
                                                                <div class="form-icon-left">
                                                                    <span class="icon-font text-muted"><i
                                                                                class="bx bx-calendar"></i></span>
                                                                    <input type="text"
                                                                           class="form-control form-readonly-control air-datepicker"
                                                                           placeholder="pick a date and time"
                                                                           data-language="en" data-timepicker="true"
                                                                           readonly>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-12">

                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                       id="carCheck21" checked>
                                                                <label class="custom-control-label" for="carCheck21">Driver
                                                                    aged 25-70 from Thailand</label>
                                                            </div>

                                                        </div>

                                                        <div class="col-12">
                                                            <a href="#" class="btn btn-primary btn-block">Search now</a>
                                                        </div>

                                                    </div>

                                                </div>

                                            </form>

                                        </div>

                                    </div>

                                </div>

                                <div role="tabpanel" class="tab-pane fade in" id="formSearchMain-04">

                                    <div class="tab-inner menu-horizontal-content">

                                        <div class="form-search-main-01">

                                            <form>

                                                <div class="form-inner">

                                                    <div class="row gap-10 mb-15 align-items-sm-center">

                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label>Destination</label>
                                                                <div class="form-icon-left typeahead__container">
                                                                    <span class="icon-font text-muted"><i
                                                                                class="bx bx-map"></i></span>
                                                                    <input class="js-typeahead-country_v1 form-control"
                                                                           name="country_v1[query]" type="search"
                                                                           placeholder="Country or city"
                                                                           autocomplete="off">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-sm-8 col-md-9">
                                                            <div class="col-inner">
                                                                <div class="row gap-10 mb-15">

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label>When</label>
                                                                            <div class="form-icon-left">
                                                                                <span class="icon-font text-muted"><i
                                                                                            class="bx bx-calendar"></i></span>
                                                                                <input type="text"
                                                                                       class="form-control form-readonly-control air-datepicker"
                                                                                       placeholder="Pick a month"
                                                                                       data-min-view="months"
                                                                                       data-view="months"
                                                                                       data-date-format="MM yyyy"
                                                                                       data-language="en"
                                                                                       data-auto-close="true" readonly>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label>Type of tour</label>
                                                                            <div class="form-icon-left">
                                                                                <span class="icon-font text-muted"><span
                                                                                            class="icon-inner"><i
                                                                                                class="bx bx-calendar"></i></span></span>
                                                                                <select data-placeholder="Please select"
                                                                                        class="chosen-no-search form-control"
                                                                                        tabindex="2">
                                                                                    <option></option>
                                                                                    <option>Adventure</option>
                                                                                    <option>City tour</option>
                                                                                    <option>Honeymoon</option>
                                                                                    <option>Cultural</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="col-4 col-sm-4 col-md-3">
                                                            <div class="form-group form-spin-group">
                                                                <label>Guests</label>
                                                                <div class="form-icon-left">
                                                                    <span class="icon-font text-muted"><i
                                                                                class="bx bx-user"></i></span>
                                                                    <input type="text"
                                                                           class="form-control touch-spin-03 form-readonly-control"
                                                                           placeholder="0" readonly/>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12">

                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                       id="preferLocalGuide"/>
                                                                <label class="custom-control-label"
                                                                       for="preferLocalGuide">Prefer private local
                                                                    guide</label>
                                                            </div>

                                                        </div>

                                                        <div class="col-12">
                                                            <a href="#" class="btn btn-primary btn-block">Search now</a>
                                                        </div>

                                                    </div>

                                                </div>

                                            </form>

                                        </div>

                                    </div>

                                </div>

                                <div role="tabpanel" class="tab-pane fade in" id="formSearchMain-05">

                                    <div class="tab-inner menu-horizontal-content">

                                        <div class="form-search-main-01">

                                            <form>

                                                <div class="form-inner">

                                                    <div class="row gap-10 mb-15 align-items-end">

                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label>Destination</label>
                                                                <div class="form-icon-left typeahead__container">
                                                                    <span class="icon-font text-muted"><i
                                                                                class="bx bx-map"></i></span>
                                                                    <input class="js-typeahead-country_v1 form-control"
                                                                           name="country_v1[query]" type="search"
                                                                           placeholder="Country or city"
                                                                           autocomplete="off">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-sm-12 col-md-12">
                                                            <div class="col-inner">
                                                                <div id="airDatepickerRange-guide"
                                                                     class="row gap-10 mb-15">

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label>Check-in</label>
                                                                            <div class="form-icon-left">
                                                                                <span class="icon-font text-muted"><i
                                                                                            class="bx bx-calendar"></i></span>
                                                                                <input type="text" id="dateStart-guide"
                                                                                       class="form-control form-readonly-control"
                                                                                       placeholder="dd/mm/yyyy">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label>Check-out</label>
                                                                            <div class="form-icon-left">
                                                                                <span class="icon-font text-muted"><i
                                                                                            class="bx bx-calendar"></i></span>
                                                                                <input type="text" id="dateEnd-guide"
                                                                                       class="form-control form-readonly-control"
                                                                                       placeholder="dd/mm/yyyy">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-8">
                                                            <div class="form-group">
                                                                <label>Speak</label>
                                                                <div class="form-icon-left">
                                                                    <span class="icon-font text-muted"><span
                                                                                class="icon-inner"><i
                                                                                    class="bx bx-globe"></i></span></span>
                                                                    <select multiple data-placeholder="Please select"
                                                                            class="chosen-no-search form-control"
                                                                            tabindex="2">
                                                                        <option></option>
                                                                        <option>English</option>
                                                                        <option>French</option>
                                                                        <option>Italiano</option>
                                                                        <option>Arabic</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-4">
                                                            <div class="form-group form-spin-group">
                                                                <label>How many days?</label>
                                                                <div class="form-icon-left">
                                                                    <span class="icon-font text-muted"><i
                                                                                class="bx bx-user"></i></span>
                                                                    <input type="text"
                                                                           class="form-control touch-spin-03 form-readonly-control"
                                                                           placeholder="0" readonly/>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <a href="#" class="btn btn-primary btn-block">Search now</a>
                                                        </div>

                                                    </div>

                                                </div>

                                            </form>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- end Hero Banner -->



    <!-- start Site Content -->
    <section>

        <div class="container">

            <div class="section-title text-center">

                <h2>Todays most popular deals</h2>

            </div>

            <div class="row equal-height cols-2 cols-md-2 cols-lg-4 gap-10 gap-md-20 gap-xl-30">

                <div class="col">

                    <figure class="featured-image-grid-item with-highlight">
                        <div class="image">
                            <img src="images/image-regular/01.jpg" alt="image"/>
                        </div>
                        <figcaption class="content">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
											<span class="item-highlight text-secondary">
												Save up to<span>35%</span>
											</span>
                                </div>
                                <div>
                                    <span class="item-expire">5 days left</span>
                                </div>
                            </div>
                            <h5 class="mb-0">Labor Day Deals</h5>
                            <p>Book now and save</p>
                            <span class="act-as-btn text-secondary">Book Now <i class="material-icons">arrow_forward</i></span>
                        </figcaption>
                        <a href="#" class="position-absolute-href"></a>
                    </figure>

                </div>

                <div class="col">

                    <figure class="featured-image-grid-item with-highlight">
                        <div class="image">
                            <img src="images/image-regular/02.jpg" alt="image"/>
                        </div>
                        <figcaption class="content">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
											<span class="item-highlight text-secondary">
												Save up to<span>25%</span>
											</span>
                                </div>
                                <div>
                                    <span class="item-expire">Expire tomorrow</span>
                                </div>
                            </div>
                            <h5 class="mb-0">Flash Sale</h5>
                            <p>save 35% on selected hotels</p>
                            <span class="act-as-btn text-secondary">Book Now <i class="material-icons">arrow_forward</i></span>
                        </figcaption>
                        <a href="#" class="position-absolute-href"></a>
                    </figure>

                </div>

                <div class="col">

                    <figure class="featured-image-grid-item with-highlight">
                        <div class="image">
                            <img src="images/image-regular/03.jpg" alt="image"/>
                        </div>
                        <figcaption class="content">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
											<span class="item-highlight text-secondary">
												Save up to<span>25%</span>
											</span>
                                </div>
                                <div>
                                    <span class="item-expire">Only 3 days</span>
                                </div>
                            </div>
                            <h5 class="mb-0">Last Minute Deals</h5>
                            <p>Book now and save</p>
                            <span class="act-as-btn text-secondary">Book Now <i class="material-icons">arrow_forward</i></span>
                        </figcaption>
                        <a href="#" class="position-absolute-href"></a>
                    </figure>

                </div>

                <div class="col">

                    <figure class="featured-image-grid-item with-highlight">
                        <div class="image">
                            <img src="images/image-regular/04.jpg" alt="image"/>
                        </div>
                        <figcaption class="content">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
											<span class="item-highlight text-secondary">
												Save up to<span>40%</span>
											</span>
                                </div>
                                <div>
                                    <span class="item-expire">Only 3 days</span>
                                </div>
                            </div>
                            <h5 class="mb-0">New deals every day</h5>
                            <p>Get 40% off featured hotels</p>
                            <span class="act-as-btn text-secondary">Book Now <i class="material-icons">arrow_forward</i></span>
                        </figcaption>
                        <a href="#" class="position-absolute-href"></a>
                    </figure>

                </div>

            </div>

            <div class="mb-80"></div>

            <div class="section-title text-center">

                <h2>Our Top Destinations</h2>

            </div>

            <div class="row cols-2 cols-md-3 cols-lg-4 gap-10 gap-md-20">

                <div class="col-6 col-lg-3">

                    <figure class="image-caption-01">

                        <a href="#">

                            <div class="image overlay-relative caption-relative">
                                <img src="images/image-destination/01.jpg" alt="image"/>
                                <div class="overlay-holder opacity-2"></div>
                                <figcaption class="caption-holder">
                                    <div class="caption-inner caption-middle text-center">
                                        <h5>Tuscany</h5>
                                        <span class="d-block">start from $543</span>
                                    </div>
                                </figcaption>
                            </div>

                        </a>

                    </figure>

                </div>

                <div class="col-6 col-lg-3">

                    <figure class="image-caption-01">

                        <a href="#">

                            <div class="image overlay-relative caption-relative">
                                <img src="images/image-destination/02.jpg" alt="image"/>
                                <div class="overlay-holder opacity-2"></div>
                                <figcaption class="caption-holder">
                                    <div class="caption-inner caption-middle text-center">
                                        <h5>Tokyo</h5>
                                        <span class="d-block">start from $458</span>
                                    </div>
                                </figcaption>
                            </div>

                        </a>

                    </figure>

                </div>

                <div class="col">

                    <figure class="image-caption-01">

                        <a href="#">

                            <div class="image overlay-relative caption-relative">
                                <img src="images/image-destination/03.jpg" alt="image"/>
                                <div class="overlay-holder opacity-2"></div>
                                <figcaption class="caption-holder">
                                    <div class="caption-inner caption-middle text-center">
                                        <h5>Paris</h5>
                                        <span class="d-block">start from $825</span>
                                    </div>
                                </figcaption>
                            </div>

                        </a>

                    </figure>

                </div>

                <div class="col">

                    <figure class="image-caption-01">

                        <a href="#">

                            <div class="image overlay-relative caption-relative">
                                <img src="images/image-destination/04.jpg" alt="image"/>
                                <div class="overlay-holder opacity-2"></div>
                                <figcaption class="caption-holder">
                                    <div class="caption-inner caption-middle text-center">
                                        <h5>Manarola</h5>
                                        <span class="d-block">start from $354</span>
                                    </div>
                                </figcaption>
                            </div>

                        </a>

                    </figure>

                </div>

                <div class="col">

                    <figure class="image-caption-01">

                        <a href="#">

                            <div class="image overlay-relative caption-relative">
                                <img src="images/image-destination/05.jpg" alt="image"/>
                                <div class="overlay-holder opacity-2"></div>
                                <figcaption class="caption-holder">
                                    <div class="caption-inner caption-middle text-center">
                                        <h5>Santorini</h5>
                                        <span class="d-block">start from $543</span>
                                    </div>
                                </figcaption>
                            </div>

                        </a>

                    </figure>

                </div>

                <div class="col">

                    <figure class="image-caption-01">

                        <a href="#">

                            <div class="image overlay-relative caption-relative">
                                <img src="images/image-destination/06.jpg" alt="image"/>
                                <div class="overlay-holder opacity-2"></div>
                                <figcaption class="caption-holder">
                                    <div class="caption-inner caption-middle text-center">
                                        <h5>New York</h5>
                                        <span class="d-block">start from $417</span>
                                    </div>
                                </figcaption>
                            </div>

                        </a>

                    </figure>

                </div>

                <div class="col">

                    <figure class="image-caption-01">

                        <a href="#">

                            <div class="image overlay-relative caption-relative">
                                <img src="images/image-destination/07.jpg" alt="image"/>
                                <div class="overlay-holder opacity-2"></div>
                                <figcaption class="caption-holder">
                                    <div class="caption-inner caption-middle text-center">
                                        <h5>Edinburgh</h5>
                                        <span class="d-block">start from $745</span>
                                    </div>
                                </figcaption>
                            </div>

                        </a>

                    </figure>

                </div>

                <div class="col">

                    <figure class="image-caption-01">

                        <a href="#">

                            <div class="image overlay-relative caption-relative">
                                <img src="images/image-destination/08.jpg" alt="image"/>
                                <div class="overlay-holder opacity-2"></div>
                                <figcaption class="caption-holder">
                                    <div class="caption-inner caption-middle text-center">
                                        <h5>Arizona</h5>
                                        <span class="d-block">start from $552</span>
                                    </div>
                                </figcaption>
                            </div>

                        </a>

                    </figure>

                </div>

            </div>

        </div>

    </section>

    <div class="bg-image cta-promo-list" data-white-overlay="3"
         style="background-image:url('images/image-bg-on-left/01.jpg'); background-position: center bottom;">

        <div class="container position-relative">

            <div class="row">

                <div class="col-12 col-md-8 col-lg-6">

                    <h2 class="heading-title">Why <span class="text-primary text-underline font-italic">Booking</span>
                        with Us?</h2>

                    <p class="font-lg">Excited him now natural saw passage offices you minuter. At by asked being court
                        hopes. Farther so friends am to detract.</p>

                    <ul class="list-icon-absolute mt-30">

                        <li>
                            <span class="icon-font text-primary"><i
                                        class="material-icons-outlined">card_giftcard</i></span>
                            <h5 class="text-capitalize">We find better Deals</h5>
                            <p>Winter can indeed letter oppose way change is improve my charmed exposed adapted
                                demands.</p>
                        </li>

                        <li>
                            <span class="icon-font text-primary"><i
                                        class="material-icons-outlined">thumb_up_alt</i></span>
                            <h5 class="text-capitalize">Best Price Guaranteed</h5>
                            <p>Received had end prepared off man branched is money so large decay voice there.</p>
                        </li>

                        <li>
                            <span class="icon-font text-primary"><i class="material-icons-outlined">favorite_border</i></span>
                            <h5 class="text-capitalize">Travellers Love Us</h5>
                            <p>Preserved be mr cordially incommode as doors quick child an point style off why him.</p>
                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

    <section>

        <div class="container">

            <div class="section-title text-center">

                <h2>What people say about us</h2>

            </div>

            <div class="row equal-height cols-1 cols-md-3 gap-20 gap-xl-30">

                <div class="col">
                    <div class="testimonial-grid">
                        <div class="testimonial-header">
                            <h6>Ange Ermolova</h6>
                            <span class="text-muted spacing-1">From Bangkok, Thailand</span>
                        </div>
                        <div class="testimonial-body">
                            <p>Real sold my in call. Invitation on an advantages collecting. Had sister see wooded
                                favour income has. </p>
                        </div>
                        <div class="testimonial-footer">
                            <div class="rating-item rating-sm rating-inline">
                                <div class="rating-icons">
                                    <input type="hidden" class="rating" data-filled="rating-icon ri-star rating-rated"
                                           data-empty="rating-icon ri-star-empty" data-fractions="2" data-readonly
                                           value="4.0"/>
                                </div>
                                <p class="rating-text font500 text-muted font-10 ml-5">8/10</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="testimonial-grid">
                        <div class="testimonial-header">
                            <h6>Christine Gateau</h6>
                            <span class="text-muted spacing-1">From Paris, France</span>
                        </div>
                        <div class="testimonial-body">
                            <p>Greatly hearted has who margaret drawings repeated recurred exercise.</p>
                        </div>
                        <div class="testimonial-footer">
                            <div class="rating-item rating-sm rating-inline">
                                <div class="rating-icons">
                                    <input type="hidden" class="rating" data-filled="rating-icon ri-star rating-rated"
                                           data-empty="rating-icon ri-star-empty" data-fractions="2" data-readonly
                                           value="3.5"/>
                                </div>
                                <p class="rating-text font500 text-muted font-10 ml-5">7/10</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="testimonial-grid">
                        <div class="testimonial-header">
                            <h6>Suttira Ketkaew</h6>
                            <span class="text-muted spacing-1">From Rome, Italy</span>
                        </div>
                        <div class="testimonial-body">
                            <p>Extremely eagerness principle estimable cannot going laughing may you about water
                                defer.</p>
                        </div>
                        <div class="testimonial-footer">
                            <div class="rating-item rating-sm rating-inline">
                                <div class="rating-icons">
                                    <input type="hidden" class="rating" data-filled="rating-icon ri-star rating-rated"
                                           data-empty="rating-icon ri-star-empty" data-fractions="2" data-readonly
                                           value="4.5"/>
                                </div>
                                <p class="rating-text font500 text-muted font-10 ml-5">9/10</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-- end Site Content -->

    <section class="partners-wrapper border-top pv-60">
        <div class="container">
            <div class="d-md-flex justify-content-center">
                <img src="images/image-logo-grid/20.png" class="image-partner" alt="Partners"/>
                <img src="images/image-logo-grid/21.png" class="image-partner" alt="Partners"/>
                <img src="images/image-logo-grid/22.png" class="image-partner" alt="Partners"/>
                <img src="images/image-logo-grid/23.png" class="image-partner" alt="Partners"/>
                <img src="images/image-logo-grid/25.png" class="image-partner" alt="Partners"/>
            </div>
        </div>
    </section>


{% endblock %}

{% block javascripts %}
    <!-- JS -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/custom-core.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/jquery.typeahead.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/custom-autocomplete.js') }}"></script>
    <!-- /JS -->
{% endblock %}