<section class="partners-wrapper border-top pv-60">
    <div class="container">
        <div class="d-md-flex justify-content-center">
            <img src="{{ asset('images/image-logo-grid/20.png') }}" class="image-partner" alt="Partners"/>
            <img src="{{ asset('images/image-logo-grid/21.png') }}" class="image-partner" alt="Partners"/>
            <img src="{{ asset('images/image-logo-grid/22.png') }}" class="image-partner" alt="Partners"/>
            <img src="{{ asset('images/image-logo-grid/23.png') }}" class="image-partner" alt="Partners"/>
            <img src="{{ asset('images/image-logo-grid/25.png') }}" class="image-partner" alt="Partners"/>
        </div>
    </div>
</section>