<section>
    <div class="container">
        <div class="section-title text-center">

            <h2>Our Top Destinations</h2>

        </div>

        <div class="row cols-2 cols-md-3 cols-lg-4 gap-10 gap-md-20">

            <div class="col-6 col-lg-3">

                <figure class="image-caption-01">

                    <a href="#">

                        <div class="image overlay-relative caption-relative">
                            <img src="{{ asset('images/image-destination/01.jpg') }}" alt="image"/>
                            <div class="overlay-holder opacity-2"></div>
                            <figcaption class="caption-holder">
                                <div class="caption-inner caption-middle text-center">
                                    <h5>Tuscany</h5>
                                    <span class="d-block">start from $543</span>
                                </div>
                            </figcaption>
                        </div>

                    </a>

                </figure>

            </div>

            <div class="col-6 col-lg-3">

                <figure class="image-caption-01">

                    <a href="#">

                        <div class="image overlay-relative caption-relative">
                            <img src="{{ asset('images/image-destination/02.jpg') }}" alt="image"/>
                            <div class="overlay-holder opacity-2"></div>
                            <figcaption class="caption-holder">
                                <div class="caption-inner caption-middle text-center">
                                    <h5>Tokyo</h5>
                                    <span class="d-block">start from $458</span>
                                </div>
                            </figcaption>
                        </div>

                    </a>

                </figure>

            </div>

            <div class="col">

                <figure class="image-caption-01">

                    <a href="#">

                        <div class="image overlay-relative caption-relative">
                            <img src="{{ asset('images/image-destination/03.jpg') }}" alt="image"/>
                            <div class="overlay-holder opacity-2"></div>
                            <figcaption class="caption-holder">
                                <div class="caption-inner caption-middle text-center">
                                    <h5>Paris</h5>
                                    <span class="d-block">start from $825</span>
                                </div>
                            </figcaption>
                        </div>

                    </a>

                </figure>

            </div>

            <div class="col">

                <figure class="image-caption-01">

                    <a href="#">

                        <div class="image overlay-relative caption-relative">
                            <img src="{{ asset('images/image-destination/04.jpg') }}" alt="image"/>
                            <div class="overlay-holder opacity-2"></div>
                            <figcaption class="caption-holder">
                                <div class="caption-inner caption-middle text-center">
                                    <h5>Manarola</h5>
                                    <span class="d-block">start from $354</span>
                                </div>
                            </figcaption>
                        </div>

                    </a>

                </figure>

            </div>

            <div class="col">

                <figure class="image-caption-01">

                    <a href="#">

                        <div class="image overlay-relative caption-relative">
                            <img src="{{ asset('images/image-destination/05.jpg') }}" alt="image"/>
                            <div class="overlay-holder opacity-2"></div>
                            <figcaption class="caption-holder">
                                <div class="caption-inner caption-middle text-center">
                                    <h5>Santorini</h5>
                                    <span class="d-block">start from $543</span>
                                </div>
                            </figcaption>
                        </div>

                    </a>

                </figure>

            </div>

            <div class="col">

                <figure class="image-caption-01">

                    <a href="#">

                        <div class="image overlay-relative caption-relative">
                            <img src="{{ asset('images/image-destination/06.jpg') }}" alt="image"/>
                            <div class="overlay-holder opacity-2"></div>
                            <figcaption class="caption-holder">
                                <div class="caption-inner caption-middle text-center">
                                    <h5>New York</h5>
                                    <span class="d-block">start from $417</span>
                                </div>
                            </figcaption>
                        </div>

                    </a>

                </figure>

            </div>

            <div class="col">

                <figure class="image-caption-01">

                    <a href="#">

                        <div class="image overlay-relative caption-relative">
                            <img src="{{ asset('images/image-destination/07.jpg') }}" alt="image"/>
                            <div class="overlay-holder opacity-2"></div>
                            <figcaption class="caption-holder">
                                <div class="caption-inner caption-middle text-center">
                                    <h5>Edinburgh</h5>
                                    <span class="d-block">start from $745</span>
                                </div>
                            </figcaption>
                        </div>

                    </a>

                </figure>

            </div>

            <div class="col">

                <figure class="image-caption-01">

                    <a href="#">

                        <div class="image overlay-relative caption-relative">
                            <img src="{{ asset('images/image-destination/08.jpg') }}" alt="image"/>
                            <div class="overlay-holder opacity-2"></div>
                            <figcaption class="caption-holder">
                                <div class="caption-inner caption-middle text-center">
                                    <h5>Arizona</h5>
                                    <span class="d-block">start from $552</span>
                                </div>
                            </figcaption>
                        </div>

                    </a>

                </figure>

            </div>

        </div>
    </div>
</section>